################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ykio/.vs/Ykio
/Ykio/Ykio/obj
